* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root {
    --prussian-blue: #012a4aff;
    --indigo-dye: #013a63ff;
    --indigo-dye-2: #01497cff;
    --indigo-dye-3: #014f86ff;
    --ucla-blue: #2a6f97ff;
    --cerulean: #2c7da0ff;
    --air-force-blue: #468fafff;
    --air-superiority-blue: #61a5c2ff;
    --sky-blue: #89c2d9ff;
    --light-blue: #a9d6e5ff;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background: var(--prussian-blue);
}
header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--prussian-blue);
    border-bottom: 2px solid #ffffff50;
}
nav {
    width: 90%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-start {
    flex: 1;
    display: none;
}
.nav-list {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-list li {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.nav-list li:hover {
    background-color: var(--indigo-dye-3);
}
.nav-list a {
    font-size: 20px;
    color: #fff;
}
/* MAIN */
main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 128px;
}
/* HERO */
.hero {
    width: 95%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-top: 35vh;
}
.hero h2 {
    font-size: 36px;
    text-align: left;
    color: #fff;
}
.hero-skills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.hero-skills li {
    height: 35px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 18px;
    color: var(--light-blue);
    border: 2px solid #ffffff50;
    border-radius: 5px;
}
/* SERVICES */
.services {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 128px;
}
.services h2 {
    font-size: 36px;
    color: #fff;
}
.services-box {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.service {
    max-width: 350px;
    height: 350px;
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: center;
    letter-spacing: 1px;
    border: 2px solid #ffffff50;
    border-radius: 10px;
}
.service:hover {
    background-color: var(--indigo-dye-3);
}
.service i {
    font-size: 40px;
    color: #fff;
}
.service h3 {
    font-size: 30px;
    color: #fff;
}
.service p {
    font-size: 18px;
    line-height: 25px;
    padding: 0 16px;
    color: #fff;
}
/* FOOTER */
footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 128px;
    background-color: #000;
}
.contact {
    width: 90%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: center;
}
footer h3 {
    flex: 1 1 300px;
    flex-wrap: wrap;
    letter-spacing: 1.5px;
    text-align: center;
    color: #fff;
}
.contact-links {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-links li {
    width: 100%;
}
.contact-links i {
    font-size: 25px;
    color: #fff;
}
/* Display Desktop */
@media (min-width: 768px) {
    .nav-start {
        display: flex;
        align-items: center;
    }
    .nav-start a {
        font-size: 28px;
        color: #fff;
    }
    .hero h2 {
        font-size: 42px;
    }
    footer {
        height: 70px;
    }
    .contact h3 {
        text-align: left;
    }
}